@keyframes shake {

    10%,
    90% {
        transform: translate(-5px, 0);
    }

    20%,
    80% {
        transform: translate(5px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate(-5px, 0);
    }

    40%,
    60% {
        transform: translate(5px, 0);
    }
}